In [2]:
import pandas as pd

# Load the dataset
file_path = 'us_racial.csv'
data = pd.read_csv(file_path)

In [3]:
data.head()

,Date,State,Cases_Total,Cases_White,Cases_Black,Cases_Latinx,Cases_Asian,Cases_AIAN,Cases_NHPI,Cases_Multiracial,...,Tests_Latinx,Tests_Asian,Tests_AIAN,Tests_NHPI,Tests_Multiracial,Tests_Other,Tests_Unknown,Tests_Ethnicity_Hispanic,Tests_Ethnicity_NonHispanic,Tests_Ethnicity_Unknown
0,20210307,AK,59332.0,18300.0,1499.0,NaN,2447.0,12238.0,1508.0,4453.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,20210307,AL,499819.0,160347.0,82790.0,NaN,2273.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,20210307,AR,324818.0,207596.0,50842.0,NaN,2913.0,1070.0,3358.0,1804.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,20210307,AS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,20210307,AZ,826454.0,308453.0,25775.0,244539.0,11921.0,40707.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5320 entries, 0 to 5319
Data columns (total 54 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Date                          5320 non-null   int64
 1   State                         5320 non-null   object
 2   Cases_Total                   5088 non-null   float64
 3   Cases_White                   4668 non-null   float64
 4   Cases_Black                   4587 non-null   float64
 5   Cases_Latinx                  2072 non-null   float64
 6   Cases_Asian                   4370 non-null   float64
 7   Cases_AIAN                    3263 non-null   float64
 8   Cases_NHPI                    2181 non-null   float64
 9   Cases_Multiracial             1525 non-null   float64
 10  Cases_Other                   4472 non-null   float64
 11  Cases_Unknown                 5059 non-null   float64
 12  Cases_Ethnicity_Hispanic      4211 non-null   float64
 13  Cases_Ethnicity_NonHispanic   4211 non-null   float64
 14  Cases_Ethnicity_Unknown       4458 non-null   float64
 15  Deaths_Total                  5041 non-null   float64
 16  Deaths_White                  4501 non-null   float64
 17  Deaths_Black                  4345 non-null   float64
 18  Deaths_Latinx                 2184 non-null   float64
 19  Deaths_Asian                  4099 non-null   float64
 20  Deaths_AIAN                   2851 non-null   float64
 21  Deaths_NHPI                   1716 non-null   float64
 22  Deaths_Multiracial            1312 non-null   float64
 23  Deaths_Other                  4181 non-null   float64
 24  Deaths_Unknown                5005 non-null   float64
 25  Deaths_Ethnicity_Hispanic     4195 non-null   float64
 26  Deaths_Ethnicity_NonHispanic  4200 non-null   float64
 27  Deaths_Ethnicity_Unknown      4421 non-null   float64
 28  Hosp_Total                    1500 non-null   float64
 29  Hosp_White                    1500 non-null   float64
 30  Hosp_Black                    1497 non-null   float64
 31  Hosp_Latinx                   904 non-null    float64
 32  Hosp_Asian                    1350 non-null   float64
 33  Hosp_AIAN                     1106 non-null   float64
 34  Hosp_NHPI                     765 non-null    float64
 35  Hosp_Multiracial              608 non-null    float64
 36  Hosp_Other                    1409 non-null   float64
 37  Hosp_Unknown                  1488 non-null   float64
 38  Hosp_Ethnicity_Hispanic       1425 non-null   float64
 39  Hosp_Ethnicity_NonHispanic    1425 non-null   float64
 40  Hosp_Ethnicity_Unknown        1448 non-null   float64
 41  Tests_Total                   563 non-null    float64
 42  Tests_White                   563 non-null    float64
 43  Tests_Black                   563 non-null    float64
 44  Tests_Latinx                  451 non-null    float64
 45  Tests_Asian                   563 non-null    float64
 46  Tests_AIAN                    459 non-null    float64
 47  Tests_NHPI                    355 non-null    float64
 48  Tests_Multiracial             251 non-null    float64
 49  Tests_Other                   563 non-null    float64
 50  Tests_Unknown                 563 non-null    float64
 51  Tests_Ethnicity_Hispanic      563 non-null    float64
 52  Tests_Ethnicity_NonHispanic   563 non-null    float64
 53  Tests_Ethnicity_Unknown       563 non-null    float64
dtypes: float64(52), int64(1), object(1)
memory usage: 2.2+ MB

In [5]:
# Convert 'Data' to datetime format
data['Date'] = pd.to_datetime(data['Date'], format='%Y%m%d')

In [9]:
# Replace NaN values with 0 across the entire dataset
data = data.fillna(0)
data.head()

,Date,State,Cases_Total,Cases_White,Cases_Black,Cases_Latinx,Cases_Asian,Cases_AIAN,Cases_NHPI,Cases_Multiracial,...,Tests_Latinx,Tests_Asian,Tests_AIAN,Tests_NHPI,Tests_Multiracial,Tests_Other,Tests_Unknown,Tests_Ethnicity_Hispanic,Tests_Ethnicity_NonHispanic,Tests_Ethnicity_Unknown
0,2021-03-07,AK,59332.0,18300.0,1499.0,0.0,2447.0,12238.0,1508.0,4453.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,2021-03-07,AL,499819.0,160347.0,82790.0,0.0,2273.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,2021-03-07,AR,324818.0,207596.0,50842.0,0.0,2913.0,1070.0,3358.0,1804.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,2021-03-07,AS,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,2021-03-07,AZ,826454.0,308453.0,25775.0,244539.0,11921.0,40707.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [10]:
# Check for the absence of NaN Values
data.isna().sum()

Date                            0
State                           0
Cases_Total                     0
Cases_White                     0
Cases_Black                     0
Cases_Latinx                    0
Cases_Asian                     0
Cases_AIAN                      0
Cases_NHPI                      0
Cases_Multiracial               0
Cases_Other                     0
Cases_Unknown                   0
Cases_Ethnicity_Hispanic        0
Cases_Ethnicity_NonHispanic     0
Cases_Ethnicity_Unknown         0
Deaths_Total                    0
Deaths_White                    0
Deaths_Black                    0
Deaths_Latinx                   0
Deaths_Asian                    0
Deaths_AIAN                     0
Deaths_NHPI                     0
Deaths_Multiracial              0
Deaths_Other                    0
Deaths_Unknown                  0
Deaths_Ethnicity_Hispanic       0
Deaths_Ethnicity_NonHispanic    0
Deaths_Ethnicity_Unknown        0
Hosp_Total                      0
Hosp_White                      0
Hosp_Black                      0
Hosp_Latinx                     0
Hosp_Asian                      0
Hosp_AIAN                       0
Hosp_NHPI                       0
Hosp_Multiracial                0
Hosp_Other                      0
Hosp_Unknown                    0
Hosp_Ethnicity_Hispanic         0
Hosp_Ethnicity_NonHispanic      0
Hosp_Ethnicity_Unknown          0
Tests_Total                     0
Tests_White                     0
Tests_Black                     0
Tests_Latinx                    0
Tests_Asian                     0
Tests_AIAN                      0
Tests_NHPI                      0
Tests_Multiracial               0
Tests_Other                     0
Tests_Unknown                   0
Tests_Ethnicity_Hispanic        0
Tests_Ethnicity_NonHispanic     0
Tests_Ethnicity_Unknown         0
dtype: int64

In [11]:
# Check for and remove duplicate rows, if any
data = data.drop_duplicates()

In [12]:
data.to_csv('data_processed.csv')

In [13]:
processed_data = pd.read_csv('data_processed.csv')
data.head()

,Date,State,Cases_Total,Cases_White,Cases_Black,Cases_Latinx,Cases_Asian,Cases_AIAN,Cases_NHPI,Cases_Multiracial,...,Tests_Latinx,Tests_Asian,Tests_AIAN,Tests_NHPI,Tests_Multiracial,Tests_Other,Tests_Unknown,Tests_Ethnicity_Hispanic,Tests_Ethnicity_NonHispanic,Tests_Ethnicity_Unknown
0,2021-03-07,AK,59332.0,18300.0,1499.0,0.0,2447.0,12238.0,1508.0,4453.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,2021-03-07,AL,499819.0,160347.0,82790.0,0.0,2273.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,2021-03-07,AR,324818.0,207596.0,50842.0,0.0,2913.0,1070.0,3358.0,1804.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,2021-03-07,AS,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,2021-03-07,AZ,826454.0,308453.0,25775.0,244539.0,11921.0,40707.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0